

/* TODO: Please, for the love of my sanity make the units something proper like vh/vw for */ 



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css");
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

/* General Styling and classes to style the basics
	     And for example a centering class
*/
* {
	margin: 0;
	padding: 0;
	--TWHITE: rgba(255, 255, 255, .6)
} 

html { 
	scroll-behavior: smooth;
}

body {
	background-color:  #EBEBEB;
}

a {
	text-decoration: none;
	margin: 20px;
	padding: 10px;
	color: #EBEBEB; 
	background-color: transparent; 
	border-radius: 15px;
	font-family: 'Montserrat', sans-serif;
}

a:hover {
	background-color: #EBEBEB;
	color: #A31621;

}

.active {
	background-color: rgba(255, 255, 255, 0.2) 
}
.center {
  display: flex;
  justify-content: center;
}

/* SHAPE DIVIDER STUFF */

.custom-shape-divider-bottom-1602170659 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1602170659 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1602170659 .shape-fill {
    fill: lightgray;
}

.custom-shape-divider-bottom-1602174550 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
} 

.custom-shape-divider-bottom-1602174550 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 116px;
}

.custom-shape-divider-bottom-1602174550 .shape-fill {
    fill: #EBEBEB;
}

/* END SHAPE DIVIDER STUFF */

/* 
* Classes are in order, so the higher up the html code is,
*  the higher the css is here (With some exceptions)
*/

.intro {
	color: #EBEBEB;
	position: relative;
	min-height: 90vh;
	background: #A31621;
	margin-top: -15px;
}

/* Negative margins for overlap - not the best but it works...*/
.child1 {
	position: relative;
	min-height: 600px;
	background-color: transparent;
	margin-top: -600px;
}

.child2 {
	position: relative;
	min-height: 600px;
	background-color: transparent;
	margin-top: -600px;
}

.content {
	position: absolute;
	top: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #EBEBEB;
	font-family: 'Montserrat', sans-serif;
}

.content h1 {
	font-family: "Bebas Neue";
	text-decoration: none;
	font-size: 12vh;
	letter-spacing: 0.1vh;
}

/* Nav Bar and its items */
.navigation_bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 10vh;
}


.navigation_bar li {
	float: right;
	padding-top: 3vh;
	font-size: 2.5vh;
	color: #EBEBEB;
	text-align: center;
	text-decoration: none;
}

.welcome {
	text-align: center;
	margin-top: 10%;

	/* Slide in and Fade animation (in animations.css) */
	animation: fadeOnBoot 2s;
}

.redir {
	margin-top: 5%;
	font-size: 5vh;
}
.redir a {
	border: 3px #EBEBEB solid;
}

/* Laptop Logo Decoration Thing */
.content .circle {
	width: 360px;
	height: 360px;
    background-color: #e3e3e3;
	margin-top: -40vh;
	margin-left: 150vh;
	border-radius: 50%;
}

.laptop {
	position: absolute;
	margin-top: 20px;
	margin-left: -10px;
	border-radius: 5px;
	z-index: 2 !important;
}

.top {
	width: 270px;
	height: 180px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	margin-left: 53px;
	transform: skew(-5deg);
	background: #182e45;
}

.screen {
	width: 225px;
	height: 150px;
	margin-left: 22px;
	position: absolute;
	margin-top: 18px;
	transform: skew(0.5deg);
	background: #EBEBEB;
	border-radius: 6px;
}

.screen p {
	color: #0e1b29;
	font-size: 32px;
	text-transform: uppercase;
	margin-top: 25%;
	margin-left: 25%;
}

.bottom {
	width: 270px;
	height: 90px;
	transform: skew(-45deg);
	background: #0e1b29;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 6px;
}

.shadow {
	margin-top: 216px;
	position: absolute;
	z-index: 0 !important;
}

.keyboard {
	margin-left: 50px;
	margin-top: 20px;
	position: absolute;
	width: 153px;
	height: 38px;
	background: #182e45;
	border-radius: 5px;
}

.claims {
	position: absolute;
	top: 120vh;
	width: 100%;
}

.claims h4 {
	font-family: 'Hack', Fallback, sans-serif;
}

.claims p {
	font-family: 'Zilla Slab', serif;
}

.claims #num1 img {
	filter: hue-rotate(85deg) saturate(0.33);
}

.claims #num1 {
	padding-top: 10vh;
	padding-left: 38%; display: flex;
	color: black;
}

.claims #num1 .text {
	padding-left: 25px;
	width: 250px;
}

